.caross-con{
    background-image: linear-gradient(to left,#6CDAE7,#e7e7e7);
    /* overflow: hidden; */
    border: solid;
}
.parent-caross{
    padding: 20px 0;}
.titlle{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.images-cont{
    width: 100%;
}

.img{
    object-fit: contain;
}