.caross-con{
    width: 99%;
    margin: 0 auto;
    background-image: linear-gradient(to left,#6CDAE7,#e7e7e7);
    height: 68vh;
    overflow: hidden;
}
.parent-caross{
    margin-top: 60px;
}
.titlle{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.images-cont{
    width: 100%;
}

.img{
    object-fit: contain;
}