.caross-con{
    width: 99%;
    margin: 0 auto;
    background-color: #6CDAE7;
    color: white;
    height: 60vh;
    border: 1px solid white;
}
.parent-caross{
    margin-top: 60px;
}
.title{
    width: 100%;
    color: black;
    text-align: center;
}