@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.container-fly {
    width: 99%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto;
}

.flyer-cont {
    width: 730px;
    border: 4px solid var(--brand-color-950);
    border-radius: 8px;
    text-align: center;
    padding: 25px;
    width: 30%;
    min-width: 300px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    box-shadow: -6px 6px var(--brand-color-600);
}

.title {

    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.des {  
    font-size: 1.3em;
    font-family: "Lato", sans-serif;
    font-weight: normal;
}

.price {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 4em;
    color: var(--brand-color-600);
}

.content ul {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    line-height: 35px;
    font-size: 1.2em;
  font-weight: 500;

}

.content ul li {
    text-align: left;
    margin-bottom: 5px;
}
.flyer-description{
    padding-inline: 2rem ;
	width: 50%;
    line-height: 40px; 
}
.cost{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.flyer-cont button {
    border: none;
    background-color: var(--brand-color);
    font-size: 16px;
    font-weight: 900;
    color: var(--brand-color-950);
    border-radius: 999px;
    padding: 14px 25px;
    cursor: pointer;
    transition: all .2s ease-in;
}
.flyer-cont button:hover {
    background-color: var(--brand-color-600);
}