footer {
    width: 99%;
    margin: 0 auto;
    background-image: linear-gradient(to left, #6cdae7, #e7e7e7);
    padding: 30px 10px;
}

.info-hedaer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: 140px;
  }
  
  .icons a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  .icons a:nth-child(1) svg {
    color: white;
    background-color: #FFFC00;
    padding: 7px;
    border-radius: 7px;
    transition: all .2s ease-in;

  }
  .icons a:nth-child(1) svg:hover{
    background-color: #faf603;
    color: #e7e7e7;
  }
  .icons a:nth-child(2) svg{
    color: #3BC836;
    transition: all .2s ease-in;
    font-size: 20px;
  }
  .icons a:nth-child(2) svg:hover{
    color: #38b934;
    
  }
.copyright {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}