@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
header {
    width: 100%;
    display: flex;
    background: rgba(217, 217, 217, .8s);
    backdrop-filter: blur(4px);
    border-bottom:1px solid white;
    position: absolute;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}
.links{
    width: 20%;
    margin-right: 5px;
}
ul{
    width: 100%;
    display: flex;
    list-style: none;
    
}
ul li a{
    text-decoration: none ;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}