@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.container-section {
    width: 100%;
    height: 80vh ;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('https://img.freepik.com/photos-premium/desktop-source-code-wallpaper-by-computer-langage-codage-programmation_33771-593.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    padding-top: 180px;
}
.parent{
    margin-top: 100px;
}
.justifydiv{
    display: flex;
    justify-content: center;
}
.img1  {
    width: 308px;
    height: 325px;
    position: absolute;
    z-index: 2;
    left: 45%;
    top: 22%;
}
.img2{
    width: 499px;
    height: 468px;
    
}

.container-section .text {
    width: auto;
}

.text span,
.text div {
    font-family: "Merriweather", serif;
    font-size: 58px;
    line-height: 87px;
    font-weight: 800;

}

.text span{
    background: #171717;
    width: 100%;
}
.text p{
    font-family: "Merriweather", serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300; 
}
