@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.container-section {
    width: 100%;
    height: 100vh ;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to left,#DB858a,#e7e7e7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    padding-top: 180px;
}

.justifydiv{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse ;
}
.img1  {
    width: 308px;
    height: 325px;
    position: relative;
    z-index: 2;}
.img2{
    width: 499px;
    height: 468px;
    
}

.container-section .text {
    width: auto;
}

.text span,
.text div {
    font-family: "Merriweather", serif;
    font-size: 58px;
    line-height: 87px;
    font-weight: 800;

}

.text span{
    background-color: #171717;
    width: 100%;
}
.text p{
    font-family: "Merriweather", serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300; 
}
