@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.sec1 {
  background-color: #f3f4f5;
  position: relative !important;
  padding: 10rem;
}

.waves {
  position: absolute;
  min-width: 100vw;
  top: 1%;
  left: 0;
  transform: translateY(-100%);
}

.sec1-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.sec1-content_information {
  display: grid;
  gap: 1rem;
  width: 50%;
}

.sec1-content_information h2 {
  color: var(--brand-color);
  text-align: left;
}

.sec1-content_information p {
  text-align: justify;
}

.sec1-content .img {
  border: none;
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .sec1-content_information {
    text-align: center;
    width: 80%;
  }

  .sec1-content .img {
    align-self: flex-end;
  }
}

@media screen and (max-width: 700px) {
  .sec1-content .img {
    width: 100%;
  }
}


.sec1-content .img img {
  width: 100%;
}

.sec1 .information div h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  /* border:  solid red; */
}

@media screen and (max-width:400px) {
  .sec1 {
    position: relative !important;
    padding: 6rem;
  }

  .card {
    padding: 20px;
    width: auto;
    gap: 3rem;
  }

  .sec1-content {
    
    margin-bottom: 2rem;
  }

  .sec1-content_information {
    text-align: left;
    width: 100%;
  }

  .sec1-content_information h3 {
    font-size: 15.75px;
    font-weight: 700;
  }

  .sec1-content_information h2 {
    color: var(--brand-color);
    text-align: left;
    font-size: 19px;
  }
}