*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
    background-color: #75DBE7;
  }
  
  .slick-slide > div img {
    transition: transform 0.3s ease; 
  }
  
  .slick-slide > div img:hover {
    transform: translateY(-5px); 
  }
  
